.switch-container {
display: flex;
align-items: center;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 21px;
    margin: 0 0.75rem;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #b6b6b6;
    border-radius: 21px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 1px;
    top: 1px;
    width: 19px;
    height: 19px;
    background-color: #333;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(25px);
    background-color: #333;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: #2bc6ff;
  }